
.badge {
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}

#badgeDefault .badge {
  background-color: lightgrey;
}

#badgeRDM .badge {
  background-color: magenta;
}

#badgeDatacreation .badge {
  background-color: #58EFEC;
}

#badgeDataprocessingandstorage .badge {
  background-color: #7CCAD5;
}

#badgeDatausage .badge {
  background-color: #A0A6BE;
}

#badgeDataarchiving .badge {
  background-color: #C481A7;
}

#badgeDatadestruction .badge {
  background-color: #E85C90;
}
